<% if(!admin) {%>
    <p> welcome . please
        < a href="=" /login> login</a>
    </p>
    <% } else { %>
        <p>Hello
            <%= admin.UserName %>. view your
                <a href="/profile "> profile here </a>
        </p>
        <% } %>