| !DOCTYPE html>
html
  head
    meta(charset="utf-8")
    title ADMINISTRATOR LOGIN
  body(bgcolor="#758AA2" style="text-align:center;")
    p
    h1 ADMINISTRATOR PANEL
    p
    .container
      .main
        form(action="/Login" method="post" name="myform")
          label User Name :
          br
          input#UserName(type="text" name="UserName")
          br
          label Password :
          br
          input#password(type="password" name="password")
          br
          input#rememberMe(type="checkbox" value="lsRememberMe")
          label(for="rememberMe") Remember me
          br
          input(type="submit" value="Login" onclick="lsRememberMe()")
  script(src="client.js")
